<%= content_for(:title,  '目录列表 | BitTorrent') %>
<section class="content-header">
  <h1>
    <%= @directory.name %>种子 <small>预览</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><i class="fa fa-folder"></i> 目录管理</li>
    <li class="active"><i class="fa fa-folder-o"></i> <%= @directory.name %></li>
  </ol>
</section>
<section class="content">
  <div class="box box-primary">
    <div class="box-header">
      <a href="<%= new_nonage_user_directory_user_file_path(@directory.id) %>" class="btn bg-primary btn-flat"><i class="ion-plus"></i> 添加种子</a>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-sm-12">
          <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
            <thead>
            <tr>
              <th tabindex="0" aria-controls="example1" style="text-align: center">封面</th>
              <th tabindex="0" aria-controls="example1" style="text-align: center">名称</th>
              <th tabindex="0" aria-controls="example1" style="text-align: center">属性</th>
              <th tabindex="0" aria-controls="example1" style="text-align: center">操作</th>
            </tr>
            </thead>
            <tbody>
            <% @directory_files.each do |item| %>
              <tr>
                <td>
                  <img src="<%= full_path item.cover %>" style="max-height:100px;">
                </td>
                <td>
                  <label class="btn bg-black btn-flat" style="font-size: 16px">
                    <i class="fa fa-bookmark"></i>
                    <%= item.short_name %>
                  </label><br><br>
                  <label class="btn bg-black btn-flat" style="font-size: 16px">
                    <i class="fa fa-flag"></i>
                    <%= item.full_name %>
                  </label>
                </td>
                <td>
                  <label class="btn bg-black btn-flat" style="font-size: 16px">
                    <i class="fa fa-file-text"></i>
                    <%= number_to_human_size(item.torrent.file_size) %>
                  </label><br><br>
                  <label class="btn bg-black btn-flat" style="font-size: 16px">
                    <i class="fa fa-code-fork"></i>
                    <a href="<%= full_path item.torrent.file_path %>" tartget="_blank">
                      <%= item.torrent.file_name %>
                    </a>
                  </label>
                </td>
                <td>
                  <a href="<%= edit_nonage_user_directory_user_file_path(item.directory_id,item.id) %>" class="btn bg-orange btn-flat">
                    <i class="glyphicon glyphicon-edit"></i>
                    编辑
                  </a><br><br>
                  <a href="<%= nonage_user_directory_user_file_path(item.directory_id,item.id) %>" class="btn bg-red btn-flat" data-method="delete" data-confirm="确定删除文件<%= item.full_name %>?">
                    <i class="glyphicon glyphicon-trash"></i>
                    删除
                  </a>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <%= will_paginate @directory_files, :class=>'apple_pagination', :previous_label => '上一页', :next_label => '下一页' %>
        </div>
      </div>
    </div>
  </div>
</section>